* {
  box-sizing: border-box;
}

header {
  background-color: #363430;
  box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

.logo {
  max-width: 250px;
  text-align: center;
  padding: 10px 0;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
nav > ul > li {
  display: block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #fffdf7;
  width: 100%;
  text-decoration: none;
}
nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fffdf7;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
}
nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  text-decoration-color: #d24a0a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f96e2c;
  font-size: 20px;
  width: 100%;
}

#hero {
  background-color: #363430;
  display: inline-block;
  width: 100%;
}

#hero {
  text-align: center; /* Centers text */
  color: #fffdf7;
  margin: 0;
 padding: 0.67em 0;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}

main {
  padding-top: 133px;
}



body {
  background-color: #fffdf7;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 300 */
  line-height: 1.4;
  /* Sets the line-height to 1.6 * the font-size */
  color: #363430;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}
}

/* image width */
img {
  width: 100%;
}

.button.view {
  background-color: #transparent;
  color: #363430;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #363430;
  text-decoration: none;
}

.button.view:hover {
  background-color: #363430;
  color: #fffdf7;
  text-decoration: none;
}

.button.contact {
  background-color: #transparent;
  color: #f96e2c;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #f96e2c;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #f96e2c;
  color: #fffdf7;
  text-decoration: none;
}
a {
  color: #f96e2c;
  text-decoration: none;
}

a:hover {
  color: #d24a0a;
  text-decoration: none;
}
a:visited {
  color: #f96e2c;
  text-decoration: none;
}
#linkedin {
  padding: 20px;
    width: 15%;
}
footer {
  background-color: #363430;
  text-align: center;
  color: #fffdf7;
}
